body{
    margin: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1586348943529-beaae6c28db9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=415&q=80);

}

h2{
    text-transform:uppercase;
    letter-spacing:4px;
    font-size:14px;
    text-align: center;
}

.clock{
    display:flex;

}
.clock div{
    margin:5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .8;
    color:white;
    display: flex;

}